<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no">
        <!-- StyleSheet file -->
        <link rel="stylesheet" type="text/css" href="css/StyleSheet.css">
        <!-- Bootstrap -->
        <link rel="stylesheet"
            href="node_modules/bootstrap/dist/css/bootstrap.min.css">
        <script type="text/javascript"
            src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Import AngularJS libary -->
        <script type="text/javascript" src="node_modules/angular/angular.js"></script>
        <!-- AngularJS page routing libary -->
        <script type="text/javascript"
            src="node_modules/angular-route/angular-route.js"></script>
        <!-- App -->
        <script type="text/javascript" src="js/app.js"></script>
        <!-- Routing -->
        <script type="text/javascript" src="js/routing.js"></script>
        <!-- Controllers -->
        <script type="text/javascript" src="js/controllers.js"></script>
    </head>


    <body ng-app="boodschapp">
        <div class="wrapper">
            <div class="header">
                <img src="content/logo.png" width="200px;" style="padding:
                    15px;">
            </div>

            <hr style="background-color: red; height: 3px;">

            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="/">
                    Home
                </a>
            </nav>


            <div ng-view></div>

            <!-- Home view -->
            <script type="text/ng-template" id="home.html">
                <div class="product-list">
                        <button type="button" class="btn btn-secondary"
                            ng-click="sortProductsByName()" style="margin: 20px;">Sorteer op naam</button>
                        <br>
                        <div class="card" ng-repeat="x in producten track by $index">
                            <img style="bottom: 200px; position:absolute"
                                src="{{x.product_afbeelding}}" width="50%">
                            <h4 style="bottom: 150px; position:absolute">{{x.product}}</h4>
                            <p style="bottom: 110px; position:absolute">&euro;{{x.prijs}}</p>
                            <p style="bottom: 80px; position:absolute">Aantal:</p>
                            <input type="number" min="1" max="40"
                                ng-model="aantal" style="width: 100px; bottom: 60px;
                                position:absolute">
                            <button type="button" ng-click="addProductToShoppingList(x,
                                aantal)">Toevoegen</button>
                        </div>
                    </div>
                    <div class="shopping-list">
                        <h3>Winkelwagen</h3>
                        <table>
                            <tr style="background-color: grey">
                                <th ng-click="sortShoppingListByName()">Product
                                    <img src="content/sort.png" width="12px"></th>
                                <th>Totaal
                                    prijs</th>
                                <th>Aantal</th>
                            </tr>
                            <tr class="slideIn" ng-repeat="x in shoppingList track by $index">
                                <td for="{{$index}}" class="done-{{x.done}}">{{x.product}}</td>
                                <td>&euro;&nbsp;{{x.prijs*x.aantal | number : 1}}</td>
                                <td>{{x.aantal}}</td>
                                <td><img ng-click="shoppingList.splice($index, 1)"
                                        src="content/trash.png"
                                        width="24px" height="24px"></td>
                                <td><input id="{{$index}}" ng-model="x.done"
                                        ng-change="checkboxChanged()"
                                        type="checkbox"></td>
                            </tr>
                        </table>
                        <p ng-if="shoppingList.length == 0">Uw winkelwagen is leeg</p>
                    </div>
                    
          </script>
        </body>
    </html>