<br />
<h3>
    <img src="content/checklist.png" />&nbsp;Boodschappenlijst <b ng-if="listName != null"> - {{listName}}</b>
</h3>
<br />
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col" style="width: 30%">Product</th>
            <th scope="col" style="width: 15%;">Aantal</th>
            <th scope="col">Opmerking</th>
            <th colspan="4"></th>
        </tr>
    </thead>
    <tbody ui-sortable="sortableOptions">
        <tr class="fadeIn" ng-repeat="x in list track by
            $index">
            <!-- Boodschappen lijst met producten -->
            <td ng-if="!editProduct" for="{{$index}}" class="done-{{x.done}}">
                <img src="content/drag-drop.jpg" style="width: 20px;">
                {{x.naam}}
            </td>
            <td ng-if="editProduct">
                <input id="inputSuccess" type="text" class="form-control" placeholder="Product" ng-model="x.naam" />
            </td>

            <td ng-if="!editProduct">{{x.aantal}}</td>
            <td ng-if="editProduct">
                <input type="number" class="form-control" placeholder="Aantal" min="1" ng-model="x.aantal" />
            </td>

            <td ng-if="!editProduct">{{x.opmerking}}</td>
            <td ng-if="editProduct">
                <input type="text" class="form-control" placeholder="Opmerking" ng-model="x.opmerking" />
            </td>

            <!-- Form buttons -->
            <td>
                <button type="button" class="btn btn-danger" ng-click="list.splice($index, 1)">
                    Verwijderen
                </button>
            </td>
            <td>
                <button type="button" class="btn
                    btn-warning" ng-click="editProduct= true">
                    Bewerken
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-warning" ng-click="editProduct= false">
                    &nbsp;Opslaan&nbsp;
                </button>
            </td>
            <td style="vertical-align:middle;">
                <input type="checkbox" style="width:25px; height:25px;" id="{{$index}}" ng-model="x.done"
                    ng-change="listCheckboxChanged()" />
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>
                <input id="inputSuccess" type="text" class="form-control border-danger" placeholder="Product"
                    ng-model="naam" />
                <small id="emailHelp" class="form-text text-muted" style="color:red !important">*Dit veld is
                    verplicht</small>
            </td>
            <td>
                <input type="number" class="form-control border-danger" placeholder="Aantal" min="1" ng-model="aantal"
                    ng-model="aantal" />
                <small id="emailHelp" class="form-text text-muted" style="color:red !important">*Dit veld is
                    verplicht</small>
            </td>
            <td>
                <input type="text" class="form-control" placeholder="Opmerking" ng-model="opmerking" />
                <small id="emailHelp" class="form-text text-muted">Niet
                    verplicht</small>
            </td>
            <td>
                <button type="submit" class="btn btn-success" ng-click="addProductToList(naam, aantal,
                    opmerking)">
                    Toevoegen&nbsp;
                </button>
            </td>
        </tr>
    </tfoot>
</table>
<button style="margin: 10px" type="button" class="btn btn-md btn-outline-secondary" data-toggle="modal"
    data-target="#modal-save-list" ng-click="beschrijving = ''">
    Opslaan als nieuw boodschappenlijstje
</button>
&nbsp;
<button style="float: right;" type="button" class="btn btn-danger" ng-click="list = []; listName = ''">
    Leeg lijst
</button>
<br />
<hr />
<br />
<h3 style="color: grey; margin-left: 20px">Favoriete producten</h3>
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-products"
    style="margin-left: 20px;">
    Voeg product toe
</button>
<button type="button" class="btn btn-dark" ng-click="orderFavoriteProductsByName()" style="margin: 20px;">
    Sorteer op naam
</button>
<br />
<div class="card" ng-repeat="x in producten track by $index">
    <img ng-click="producten.splice($index, 1)" src="content/close.png" style="bottom: 180px; right: 10; top: 10;
        position:absolute" width="7%" />
    <img ng-if="x.product_afbeelding != null" style="bottom: 160px;
        position:absolute" src="{{ x.product_afbeelding }}" width="50%" />
    <img ng-if="x.product_afbeelding == null" style="bottom: 165px;
        position:absolute" src="content/no-image.png" width="50%" />
    <h4 style="bottom: 120px; position:absolute">{{ x.naam }}</h4>
    <p style="bottom: 80px; position:absolute">Aantal:</p>
    <input type="number" min="1" max="40" ng-model="aantalFav" style="width:
        100px; bottom: 60px;
        position:absolute" />
    <button type="submit" class="btn btn-success" ng-click="addProductToList(x.naam, aantalFav)" style="width: 70%;">
        Toevoegen
    </button>
</div>
<p style="clear: both"></p>
<div class="jumbotron jumbotron-fluid" style="clear: both; margin-top: 50px;">
    <div class="container">
        <img src="content/logo_image.png" style="width: 60px;">
        <h1 class="display-5">BoodschApp</h1>
        <p class="lead">Het doen van boodschappen wordt met deze app nog eenvoudiger en sneller.</p>
        <hr class="my-4">
        <p>Made by Tony van Leeuwen</p>
    </div>
</div>
<!-- Modal - Lijst opslaan -->
<div class="modal fade" id="modal-save-list" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    Boodschappenlijst opslaan
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Naam" ng-model="beschrijving" />
                        <small id="emailHelp" class="form-text text-muted">Naam van boodschappenlijst</small>
                        <br>
                        <input type="date" class="form-control" placeholder="Datum" ng-model="datum" min="2019-09-22" />
                        <small id="emailHelp" class="form-text text-muted">Datum van boodschappen doen</small>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Afsluiten
                </button>
                <button type="button" class="btn btn-success" data-dismiss="modal"
                    ng-click="saveList(beschrijving, datum)">
                    Opslaan
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal - Boodschappenlijstjes -->
<div class="modal fade" id="modal-saved-lists" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    Opgeslagen boodschappenlijstjes
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group" ng-repeat="list in savedLists track by $index">
                        <label for="exampleInputEmail1">{{list.beschrijving}}</label>&nbsp;-&nbsp;
                        <label for="exampleInputEmail1">{{list.datum}}</label>
                        &nbsp;&nbsp;
                        <img src="content/eye-open.png" style="width: 22px; margin-right: 10px;"
                            ng-click="loadSavedList(list)" data-dismiss="modal">
                        <img src="content/close.png" style="width: 16px;" ng-click="savedLists.splice($index, 1)"
                            data-dismiss="modal">
                    </div>
                    <p ng-if="savedLists.length == 0">
                        Je hebt nog geen boodschappenlijstjes opgeslagen
                    </p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Afsluiten
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal - Favoriete producten toevoegen -->
<div class="modal fade" id="modal-products" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    Voeg favoriete product toe
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Naam</label>
                        <input type="text" class="form-control" placeholder="Naam" ng-model="favoName" />
                        <small id="emailHelp" class="form-text text-muted">Voer
                            productnaam in</small>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Afsluiten
                </button>
                <button type="button" class="btn btn-success" data-dismiss="modal"
                    ng-click="addFavoriteProduct(favoName)">
                    Voeg toe
                </button>
            </div>
        </div>
    </div>
</div>